<div class="center jumbotron">
  <h1>Welcome to Ashrya's Blog App</h1>

  <h2>
    This is the home page for the Blog. If you are first time user then please sign up......else proceed to login. 
  </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
</div>